.backscreen-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 2em !important;
    height: 2em !important;
}

.left-arrow {
    margin-left: 12px;
}

.right-arrow {
    margin-right: 5px;
}