.backscreen-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 2em !important;
    height: 2em !important;
}