button {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

button:active {
    position: relative;
    top: 1px;
}

#signInButton {
    background-color: #e00d0d;
    border: 1px solid #e00d0d;
}

#signInButton:hover {
    background-color: #f03434;
}

#signUpButton {
    background-color: #0306b9;
    border: 1px solid #0306b9;
}

#signUpButton:hover {
    background-color: #272ad6;
}

#signOutButton {
    background-color: #e00d0d;
    border: 1px solid #e00d0d;
}

#signOutButton:hover {
    background-color: #f03434;
}