.container-cart {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.add-itens-btn {
    color: red;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.day-promotion-text {
    color: red;
}

.cart-text-bottom {
    display: flex;
    justify-content: space-between;
}