@media (min-width: 769px) {
    .container {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 1080px) {
    .container {
        width: 50%;
        margin: auto;
    }
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;

    h1 {
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin: 50px 0 50px 0;
    }
    
    span {
        font-size: 12px;
        font-weight: normal;
    }
}

.checkout-h1 {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 50px 0 10px 0;
    text-align: left;
}

.card {
    text-align: left;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 15px;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-top: 5px !important;
}

.payment-type {
    padding: 10px;
    text-align: left;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    margin: 6px 0 0 0;
    font-weight: 500;

    label {
        margin-left: 5px;
    }
}

.checkout-checkbox {
    margin: 20px 0 10px 10px;
    float: right;
}

.troco {
    text-align: left;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    margin: 15px 0 40px 0;
    font-weight: 500;
    padding-bottom: 10px;

    p {
        padding: 0 0 0 15px;
        margin: 10px 0 0 0;
    }

    span {
        padding-left: 15px;
    }

    input {
        float: right;
        margin-right: 10px;
    }
}

.edit-button {
    color: red;
    cursor: pointer;
    border: none;
    margin: 5px 0 0 0;
}

.edit-button:hover {
    color: red;
    cursor: pointer;
    border: none;
}

.edit-button:active {
    color: red;
    cursor: pointer;
    border: none;
}

.input-checkout-camp {
    margin-bottom: -10px;
}

.troco-1 {
    display: flex;
    justify-content: space-between;
}

.ways-of-payment {
    margin-bottom: 20px;
}

.checkout-change-money-title {
    display: flex;
    margin-bottom: 20px;
}

.checkout-input {
    border: none;
    padding: 10px;
    margin: 10px 0 0 10px;
    background: none;
    cursor: pointer;
    margin-left: -5px;
}

.checkout-input:focus {
    border: none;
    padding: 10px;
    margin: 10px 0 0 10px;
    background: none;
    cursor: pointer;
    margin-left: -5px;
}

.checkout-input:active {
    border: none;
    padding: 10px;
    margin: 10px 0 0 10px;
    background: none;
    cursor: pointer;
    margin-left: -5px;
}

.icon-input-checkout {
    font-size: 0.9rem !important;
    padding: 10px 0 0 10px;
}

.change-text-title {
    padding: 45px 0 0 30px;
}