.css-h4y409-MuiList-root {
    padding: 0 !important;
}

.css-19v6clq-MuiPaper-root {
    height: 100vh;
}

.container-menu {
    width: 100%;
}

.menu {
    padding: 20px;
}

.menu-1 {
    background-color: red;
    color: white;
}

.menu-2 {
    color: black;
}