.menu-card {
    display: inline-flex;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.card-text {
    font-size: 12px;
    width: 190px;

    h4 {
        color: rgb(2, 172, 2);
        font-size: 14px;
    }
}

.card-img {
    width: 150px;

    img {
        width: 95%;
        height: 85%;
        border-radius: 10px;
        margin: 10px 10px 0 0;
    }
}

.card-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 968px) {
    .card-container {
        display: block;
        justify-content: center;
    }
}