.white-container {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
}

.product-container {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        width: 320px;
        height: 200px;
        border-radius: 10px;
        margin-top: 20px;
    }
}

.product-text {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    width: 320px;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h3 {
        width: 180px;
        text-align: left;
    }

    h4 {
        color: rgb(2, 172, 2);
    }
}

.product-info {
    font-size: 12px;
    display: block;
    text-align: left;
    justify-content: space-between;
    margin: auto;
    width: 320px;
    margin-top: -10px;

    p {
        margin-top: 20px;
    }
}

.css-xn6ruc>:not(style) {
    width: 320px !important;
    margin-bottom: 20px !important;
}

.add-to-cart {
    width: 270px;
    display: flex ;
    margin: auto;
    padding: 40px 0 40px 0;
    cursor: pointer;
    font-weight: 600;
}

.add-to-cart-count {
    background-color: rgb(224, 224, 224);
    width: 100px;
    color: black;
    display: flex;
    font-size: 14px;
    border: none;
    border-radius: 10px 0 0 10px;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px 0 10px;
}

.plus {
    color: red;
}

button {
    background-color: red;
    width: 170px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 0 10px 10px 0;
    height: 50px;
}